@mixin btnStyle() {
   cursor: pointer;
   color: rgb(255, 255, 255);
   border-radius: 20px;
   border: none;
   background: rgb(33, 60, 151);
   padding: 10px;
   margin-top: 10px;
   &:hover {
      -webkit-box-shadow: 1px 1px 10px #dfdfdf;
      box-shadow: 1px 1px 10px #dfdfdf;
   }
   &:active {
      -webkit-box-shadow: inset 1px 1px 10px #dfdfdf;
      box-shadow: inset 1px 1px 10px #dfdfdf;
   }
}

@-webkit-keyframes btn_wave {
   0% {
      -webkit-box-shadow: 1px 1px 6px white;
      box-shadow: 1px 1px 6px white;
   }
   50% {
      -webkit-box-shadow: 1px 1px 16px 5px white;
      box-shadow: 1px 1px 16px 5px white;
   }
   100% {
      -webkit-box-shadow: 1px 1px 6px white;
      box-shadow: 1px 1px 6px white;
   }
}
@keyframes btn_wave {
   0% {
      -webkit-box-shadow: 1px 1px 6px white;
      box-shadow: 1px 1px 6px white;
   }
   50% {
      -webkit-box-shadow: 1px 1px 16px 5px white;
      box-shadow: 1px 1px 16px 5px white;
   }
   100% {
      -webkit-box-shadow: 1px 1px 6px white;
      box-shadow: 1px 1px 6px white;
   }
}

.conteiner__catalog {
   font-size: 24px;
   .sortList {
      font-size: 18px;
      cursor: pointer;
      font-size: 18px;
      position: absolute;
      top: 105px;
      left: 1250px;
      z-index: 3;
      p {
         display: inline;
         color: chartreuse;
      }
   }

   button {
      @include btnStyle();
   }
   .conteiner__catalog_game {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
   }
   b {
      margin-right: 20px;
   }
}

