@import "../Catalog.module.scss";

.conteiner__game {
   position: relative;
   overflow: hidden;
   border: 2px solid #000;
   border-radius: 15px;
   margin: 10px;
   transition: all 0.8s ease;
   z-index: 1;
   &:hover {
      z-index: 2;
      box-shadow: 1px 1px 26px rgb(0, 68, 255);
      background-color: rgb(61, 61, 61);
      animation: pulse 2s ease infinite;
      transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      -webkit-transform: matrix3d(
         1.2,
         0,
         0,
         0,
         0,
         1.2,
         0,
         0,
         0,
         0,
         1,
         0,
         0,
         0,
         0,
         1
      );
   }
   width: 350px;
   height: 450px;

   @keyframes pulse {
      0% {
         box-shadow: 1px 1px 6px rgb(0, 50, 216);
      }
      50% {
         box-shadow: 1px 1px 26px rgb(0, 50, 216);;
      }
      100% {
         box-shadow: 1px 1px 6px rgb(0, 50, 216);
      }
   }

   img {
      width: 350px;
   }
   h1 {
      font-size: 16px;
      text-align: left;
      padding-left: 5px;
   }
   .border_genre p {
      margin: 0 40px;
      i {
         font-size: 12px;
         border: 1px solid rgb(88, 88, 88);
         background-color: rgb(90, 90, 90);
         text-align: center;
         border-radius: 20px;
         margin: 0 5px;
         padding: 0 5px;
      }
   }
   p {
      font-size: 14px;
   }
   .price {
      position: absolute;
      right: 10px;
      bottom: 10px;
      display: flex;
   }
}
