.conteiner__increment {
   border-radius: 50%;
   margin-right: -18px;
   width: 16px;
   height: 16px;
   font-size: 12px;
   font-weight: 400;
   background-color: brown;
   color: aliceblue;
   text-align: center;
   border: 1px solid whitesmoke;
   position: relative;
   display: inline-block;
   top: -6px;
   left: -5px;
   overflow: hidden;
}
