.conteiner__game {
   cursor: pointer;
   position: relative;
   overflow: hidden;
   border-radius: 15px;
   margin: 10px;
   -webkit-transition: all 0.8s ease;
   transition: all 0.8s ease;
   z-index: 1;
   width: 350px;
   height: 450px;
}
