.conteiner__game_info {
   display: flex;
   justify-content: space-around;
   margin: 30px;
   img {
      width: 350px;
   }
   h1 {
      margin-bottom: -80px;
   }
   i {
      font-size: 12px;
      margin-right: 5px;
      padding: 2px 5px;
      border-radius: 10px;
      background-color: rgb(116, 116, 116);
   }
   .conteiner__info {
      max-width: 350px;
      display: flex;
      flex-direction: column;
   }
   .conteiner__video {
      align-self: center;
   }
}
