.conteiner__game_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px;
}
.conteiner__game_info img {
  width: 350px;
}
.conteiner__game_info h1 {
  margin-bottom: 80px;
}
.conteiner__game_info i {
  font-size: 12px;
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: #747474;
}
.conteiner__game_info .conteiner__info {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.conteiner__game_info .conteiner__video {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}