.conteiner__game_info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   margin: 30px;
   img {
      width: 350px;
   }
   h1 {
      margin-bottom: 80px;
   }
   .genre {
      font-size: 12px;
      margin-right: 5px;
      padding: 2px 5px;
      border-radius: 10px;
      background-color: rgb(116, 116, 116);
   }
   .conteiner__info {
      max-width: 350px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .conteiner__video {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
   }
}
