.conteiner_about {
   font-size: 24px;
   width: 1000px;
   margin: 0 auto;
   article {
      width: 800px;
      padding: 50px;
      margin: 60px;
      border: 8px double white;
      text-align: center;
   }
   a {
      &:hover {
         color: chartreuse;
      }
   }
}
