@import "../catalog/Catalog.module.scss";

.price {
   button {
      @include btnStyle(); 
   }
   i {
      font-size: 16px;
   }
}
button.secondaryMy {
   &:hover {
      background: rgb(106, 212, 0);
      font-weight: 700; 
   }
}
button.primaryMy  {
   background: rgb(107, 107, 107) !important
}
