.wrapper__search {
  position: relative;
  margin-bottom: 20px;
}
.wrapper__search .search_image {
  position: absolute;
  top: 20px;
  padding-left: 5px;
  width: 16px;
  height: 16px;
}
.wrapper__search .input_search {
  width: 190px;
  height: 25px;
  margin-top: 16px;
  border-radius: 15px;
  padding-left: 20px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.wrapper__search .input_search:focus {
  width: 290px;
}