.wrapper__search {
    position: relative;
    margin-bottom: 20px;
    .search_image {
       position: absolute;
       top: 22px;
       padding-left: 8px;
       width: 16px;
       height: 16px;
    }
    .input_search {
       width: 195px;
       height: 30px;
       margin-top: 16px;
       border-radius: 15px;
       padding-left: 25px;
       -webkit-transition: width 0.3s ease;
       transition: width 0.3s ease;
       &:focus {
          width: 290px;
       }
    }
 }