.categoryList {
   ul {
      font-size: 22px;
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      transition: all 0.8s ease;
      li {
         margin: 3px;
         &:hover {
            cursor: pointer;
            text-shadow: 2px 2px 4px rgb(98, 81, 255);
            color: rgb(255, 255, 255);
         }
      }
   }
}
.active {
   background: rgb(135, 49, 247);
   color: rgb(255, 255, 255);
   border-radius: 20px;
   padding: 0 5px;
   font-weight: 900;
}
