.conteiner_nav {
   display: flex;
   justify-content: space-between;
//    margin: 2px 0 0 0;
   align-items: center;
   font-size: 24px;
   img {
      width: 80px;
      border-radius: 30px;
   }
   a {
      color: white;
      text-decoration: none;
      padding: 0px 15px 5px 15px;
      transition: background-color 0.8s ease;
      &:hover {
         border-radius: 25px;
         background: rgb(59, 58, 58);
        
      }
   }
   a:not(:last-child) {
      margin: 30px;
   }
}
